@font-face {
  font-family: "BebasNeue";
  font-style: normal;
  font-weight: 400;
  src: local("BebasNeue"),
  url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
  url("../fonts/BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
}

a {
  text-decoration: none;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;

  background-color: #ffffff;
}

.page-header__top {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  padding-top: 21px;
  padding-bottom: 18px;
  padding-left: 23px;

  display: block;

  font-size: 0;
  line-height: normal;
}

.search__label {
  position: relative;
}

.search__field {
  position: relative;

  width: 435px;
  height: 33px;

  border: 1px solid #e1e1e1;
  border-radius: 2px;
}

.search__label::after {
  position: absolute;
  top: -3px;
  right: 8px;

  width: 22px;
  height: 22px;

  content: "";

  background-color: white;
  background-image: url("../img/search.svg")
}

.basket {
  margin-right: 21px;
}

.basket__link {
  display: block;

  font-family: "BebasNeue", serif;
  font-size: 33px;
  color: #a1a1a1;
}

.basket__link--image {
  margin-right: 9px;
}

.page-header__bottom {
  color: white;
  background-color: #4ccfc1;
}

.nav {
  max-width: 1024px;
  margin: 0 auto;
}

.nav__list {
  padding: 0;
  margin: 0;

  display: flex;

  list-style: none;
}

.nav__item {
  position: relative;
}

.nav__item a {
  padding: 0 21px;

  display: block;

  font-family: "BebasNeue", "Arial", serif;
  font-size: 21px;
  line-height: 36px;
  color: white;
}

.nav__item:not(:last-child)::after {
  position: absolute;
  top: 9px;
  right: -2px;

  width: 2px;
  height: 18px;

  content: "";

  background-color: white;
}

.banner {
  background-image: url("../img/background_pattern.jpg");
  background-repeat: repeat;
}

.banner__list {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.banner__item {
  display: flex;
}

.banner .image-container {
  min-width:438px;
  height: 446px;
  margin-right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__container {
  max-width: 405px;
}

.banner__title {
  margin-top: 82px;
  margin-bottom: 0;

  font-size: 61px;
  line-height: 54px;
  font-weight: 400;
  color: white;
}

.banner__description {
  margin-top: 8px;
  margin-bottom: 25px;

  font-family: "OpenSans", "Arial", serif;
  font-size: 17px;
  line-height: 28px;
  color: white;
  text-transform: none;
}

.banner__button {
  margin: 0;
  padding: 0 25px;

  font-family: "BebasNeue", "Arial", serif;
  font-size: 27px;
  line-height: 40px;
  color: white;

  border: 3px solid white;
  border-radius: 10px;
  background: none;
}

.banner-controls {
  position: relative;

  max-width: 1024px;
  margin: 0 auto;
}

.banner-controls__list {
  position: absolute;
  left: 460px;
  bottom: 27px;

  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.banner-controls__button {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 5px;

  border: none;
  border-radius: 4.5px;
  background-color: white;
}

.banner-controls__button:disabled {
  opacity: 0.5;
}

.categories {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 44px;

  display: flex;
  justify-content: space-between;
}

.categories__prev,
.categories__next {
  margin: 51px 0;
  padding: 0;

  font-size: 0;
  line-height: 0;
  border: none;
  background-color: white;
}

.categories__list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.categories__item {
  min-width: 340px;

  display: flex;
}

.categories__item:not(:last-child) {
  border-right: 1px solid #e7e7e7;
}

.categories .image-container {
  min-width: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__container {
  max-width: 100px;
}

.categories__title {
  margin-top: 53px;
  margin-bottom: 19px;

  font-family: "BebasNeue", "Arial", serif;
  font-size: 27px;
  line-height: 25px;
  color: #afafaf;
}

.categories__link {
  padding: 0 18px;
  padding-top: 7px;
  padding-bottom: 5px;

  display: inline-block;

  font-family: "BebasNeue", "Arial", serif;
  font-size: 19px;
  line-height: 19px;
  color: white;

  border-radius: 3px;
  background-color: #3cc395;
}

.goods__title-container {

  background-image: url("../img/background_pattern.jpg");
  background-repeat: repeat;
}

.goods__title {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 58px;

  font-family: "BebasNeue", "Arail", serif;
  font-size: 31px;
  line-height: 67px;
  font-weight: 400;
  color: white;
}

.goods__list {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 63px;
  padding-bottom: 26px;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.goods__item {
  width: 255px;
  height: 260px;
  margin-right: 54px;
  margin-bottom: 47px;

  border-bottom: 5px solid #3cc395;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
}

.goods__item .image-container {
  height: 160px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.goods__name,
.goods__price {
  font-family: "BebasNeue", "Arial", serif;
  font-size: 27px;
  line-height: 27px;
  color: #afafaf;
}

.goods__name {
  margin: 0;
  margin-bottom: 5px;

  text-align: center;
}

.goods .price-container {
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.goods__price {
  margin: 0;
  margin-right: 15px;

  line-height: 27px;

  display: inline-block;
}

.goods__buy-btn {
  margin: 0;
  padding: 0 10px;

  display: inline-block;

  font-family: "BebasNeue", "Arial", serif;
  font-size: 20px;
  line-height: 34px;
  color: white;

  border: none;
  border-radius: 3px;
  background-color: #3cc395;
}

.page-footer {
  display: flex;

  border-bottom: 46px solid #2da89b;
  background-color: #3cc3b5;
}

.page-footer__list {
  min-width: 1024px;
  margin: 0 auto;
  padding: 0;
  padding-top: 42px;
  padding-left: 58px;

  display: flex;

  list-style: none;
}

.page-footer__item:not(:last-child) {
  margin-right: 120px;
}
.page-footer__item__list {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  list-style: none;
}

.page-footer__header {
  margin: 0;
  margin-bottom: 10px;

  font-family: "BebasNeue", "Arial", serif;
  font-size: 27px;
  line-height: 27px;
  font-weight: 400;
  color: white;
}

.page-footer__item__list a {
  font-family: "OpenSans", "Arial", serif;
  font-size: 15px;
  line-height: 27px;
  text-transform: none;
  color: white;
}
